/* Basic styling */


body {
    font-family: Arial, sans-serif;
}

#map {
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    z-index: -5;
}
.delivery-div >*{
    margin: 0;
}
#delivery-title{
    margin-top: 15px !important;
}
.delivery-header-div{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    text-align: center;
    border-radius: 30px;
    padding: 2vw;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 360px;

}
.delivery-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
    /* border: 1px solid #ccc; */
    border-radius: 0 0 10px 10px;
    background-color: #f1f1f1;
    z-index: 1;
}

#recipient-list {
    display: flex;
    flex-wrap: wrap;
    height: 100px !important;

}

.recipient {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    background-color: #b3e5fc;
}

#confirm-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}











#search-bar-div{
    border-radius: 20px;
    gap:10px;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    
}
.search-and-result-div{
    position: relative;
    width: 70%;  
    /* margin-right: 10px; */
}
.search-bar-and-locate-div{
    background: rgba(white,0.5);
    border: 2px solid black;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 0;
    border-radius: 10px;
}
.border-radius{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.search-bar{  
    border: 0;
    background-color: transparent;
    width: 70%;
    height: 100%;
    color: black;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
}
.search-text-locate{
    display: flex;
    padding-right: 2%;
}
#locate-button-div{
    display: flex;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    width: 110px;
    height:auto;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    font-size: small;
    color: var(--theme);
    margin-right: 5px;
    background-color: greenyellow;
}
.search-bar-and-locate-div i{
    font-size: 30px !important;
    color: black;
    margin-right: 5px;
}
#locate-me-error{
    width: 100%;
    margin: 0;
    color: orangered;
    margin-left: 5px;
}
#locate-button-div:hover{
    background-color: rgba(128, 128, 128, 0.424);
    cursor: pointer;
}
.find-button{
    font-size: larger;
    letter-spacing: 1px;
    color: var(--theme);
    margin: 5px;
    width: 25%;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: lightblue;
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: small;
}
.find-button:hover{
    background-color: grey;
    transition: .5s ease;
}
#locate-me-error{
    text-align: center;
}





#summary{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* bottom: 0px; */
    z-index: 13;
    border-radius: 20px 20px 0 0;
    border: 1px solid #ccc;
    background-color: white;
    bottom: 0px;
    height: 50px;
    min-width: 360px;
    width: 500px;
    overflow: scroll;
    padding:10px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.7);
    /* padding-bottom: 100px; */

}
.summary-button-div{
    width: 100%;
    text-align: center;
    height: 6vh;
}
.bottom-btn:hover{
    background-color: #ddd;
}
.bottom-btn{
    width: 100%;
    border-radius: 20px 20px 0 0;
    border: none;
    background-color: white;
    cursor: pointer;
    height: 6vh;
    font-size: 5vh;
}
.selected-recipients-header >*{
    margin: 0;
}
.selected-recipients-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}
.pickup-location h3{
    margin: 0;
}
#summary a{
    color: rgb(86, 86, 255);
    margin: 0px;
}
.pickup-location > *{
    padding: 10px;
    border: 1px solid black;
}
.pickup-location{
    display: grid;
    grid-template-columns: 30% 40% 15% 15%;
    border: 1px solid #ccc;
    
}
#recipients-table{
    font-size: 10px;
}
/* #recipients-table .address{
    width: 4cap !important;
} */

h2{
    margin: 10px !important;
    margin-top: 20px !important;
}



@media screen and (max-width: 600px){
    #summary{
        width: 94vw;
        padding: 3vw;
        padding-top: 10px;
    }
    #map{
        width: 100vw;
        height: 85vh;
    }
}

hr{
    width: 100%;
}

.recipient-marker-div{
    text-align: center;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    max-height: 300px;
    max-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* ::-webkit-scrollbar {
-webkit-appearance: none;
width: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

.cluster-marker {
    position: relative;
    background-color: #007bff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    width: 8px;
    height: 15px;
}